<a href="https://colab.research.google.com/github/Lasya0786/AIAC/blob/main/4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1:Zero-shot: Prompt AI to write a function that checks whether a given year is a leap year.

prompt:write a python function to check whether a given year is leap year in zero shot.

In [2]:
def is_leap_year(year):
  """Checks if a given year is a leap year."""
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False

# Example usage:
year = 2024
if is_leap_year(year):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

2024 is a leap year.

Task2:One-shot: Give one input-output example to guide AI in writing a function that converts centimeters to inches.

Prompt:write a python code to convert centimeters into inches in one shot.

In [4]:
def cm_to_inches(cm):
  """Converts centimeters to inches."""
  return cm * 0.393701

# Example usage:
centimeters = 10
inches = cm_to_inches(centimeters)
print(f"{centimeters} centimeters is equal to {inches:.2f} inches.")

10 centimeters is equal to 3.94 inches.

Task3:Few-shot: Provide 2–3 examples to generate a function that formats full names as “Last, First”.

Prompt:write a python code to generate a function that formats full names as "Last,First" with few examples.

In [6]:
def format_name(full_name):
  """Formats a full name as 'Last, First'."""
  names = full_name.split()
  if len(names) > 1:
    return f"{names[-1]}, {' '.join(names[:-1])}"
  else:
    return full_name

# Example usage:
name1 = "John Doe"
name2 = "Jane Smith"
name3 = "Peter Pan"

print(f"'{name1}' formatted is: '{format_name(name1)}'")
print(f"'{name2}' formatted is: '{format_name(name2)}'")
print(f"'{name3}' formatted is: '{format_name(name3)}'")

'John Doe' formatted is: 'Doe, John'
'Jane Smith' formatted is: 'Smith, Jane'
'Peter Pan' formatted is: 'Pan, Peter'